/*
body {
    background-color: #AEB8FE;
    display: flex;
}

.dice {
    width: 90px;
    height: 90px;
    border-radius: 10px;
    background-color: #EFE5DC;
    margin: 100px;
    display: flex;
    flex-wrap: wrap;
}

.dice div {
    width: 20px;
    height: 20px;
    margin: 5px;
}

.dot {
    background-color: black;
    border-radius: 10px;
}
*/

body {
    background-color: black;
    display: flex;
    color: white;
    font-size: 32px;
}

.dice {
    width: 270px;
    height: 270px;
    border-radius: 30px;
    background-color: red;
    margin: 100px;
    display: flex;
    flex-wrap: wrap;
}

.dice div {
    width: 60px;
    height: 60px;
    margin: 15px;
}

.dot {
    background-color: white;
    border-radius: 10px;
}
